/* ===== global ===== */

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 980px;
    min-height: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

/* ===== typography ===== */

body {
    color: #222;
    font-family: arial,sans-serif;
    font-size: 13px;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgba(0,0,0,0.87);
    text-decoration: underline;
}

/* ===== header ===== */

nav.header {
    position: absolute;
    top: 16px;
    min-width: 980px;
    width: 100%;
}
.header-left {
    float: left;
    margin: 7px 0 0 10px;
}
.header-left ul li {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
.header-right {
    display: inline-block;
    float: right;
    min-width: 220px;
    padding: 0 30px 0 30px;
    align-items: center;
}
.header-right,
.header-right ul {
    display: flex;
    justify-content: flex-end;
}
#hr-1 {
    padding-right: 15px;
    line-height: 24px;
}

#hr-1 li:nth-last-of-type(1){
    padding-left: 15px;
}

#hr-2 {
    min-width: 114px;
    justify-content: space-around;
}
#hr-2 .apps-btn {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background-image: url(img/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    opacity: .55;
}
#hr-2 .apps-btn:hover {
    opacity: 0.85;
}
#hr-2 .sign-in-btn {
    padding-left: 15px;
}
#hr-2 .sign-in-btn a {
    display: block;
    color: #fff;
    background-color: #4285f4;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}
#hr-2 .sign-in-btn a:hover {
    text-decoration: none;
}
/* ===== main ===== */
.main,
.logo,
.search,
.footer {
    display: block;
    margin: 0 auto;
    min-width: 980px;
    width: 100%;
}

.main {
    position: absolute;
    height: 233px;
    margin-top: 89px;
}
/*.searchbox {
    position: absolute;
    top: 311px;
}*/

/* ===== search form ===== */

form {
    max-width: none;
    margin: 0 auto;
    width: 833px;
    background: none;
}
.searchbox {
    height: 39px;
    max-width: 484px;
    width: 100%;
    overflow: visible;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 5px 9px 0 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.searchbox:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

input[type="search"] {
    border: none;
    width: 100%;
    line-height: 34px;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

form .buttons {
    padding-top: 18px;
}

input[name="btn1"],
input[name="btn2"] {
    height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

}
input[type="button"]:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
/* ===== footer ===== */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 980px;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.footer #ftr-left,
.footer #ftr-right,
#ftr-left ul li,
#ftr-right ul li{
    display: inline-block;
}
#ftr-left {
    float: left;
    color: #666;
}
#ftr-right {
    float: right;
    margin-right: 30px;
    color: #666;
}

.footer li{
    padding-left: 27px;
}

